<div class="bgc-red">
    <div class="container ">
        <div class="df-576 fdr-r-576 jcsb-576">
        <div class="df jcsb pt48 pt24-576 aic"> 
            <div>  
                <nav>
                    <ul class="df g28 jcsb dn-576">
                        <li><a class="p10-10-10-0 white" href="../pages/index.html">首頁</a></li>
                        <li><a class="p10 white" href="OPTICAL.html">系列鏡框</a></li>
                        <li><a class="p10 white" href="store.html">門市據點</a></li>
                        <li><a class="p10 white" href="blog.html">部落格</a></li>
                        <li><a class="p10 white" href="Q&A.html">常見問題</a></li>
                    </ul>
                </nav>
            </div>


            <div>
                <img class="footer-fb-ig-line mr32 mr16-992" src="../assets/images/ic-social-fb.png" alt="FB">
                <img class="footer-fb-ig-line" src="../assets/images/ic_social_ig.png" alt="IG">
                <img class="footer-fb-ig-line ml32 ml16-992" src="../assets/images/ic_social_line.png" alt="line">
            </div>
        </div>

            <div class=" df aic mt36 mb8 mt32-992">
                <img class="footer-call m6-22-6-6 m3-11-3-3-576" src="../assets/images/call.png" alt="tell">
                <p class="white fs-36 fs-16-576">0800-000-000</p>
            </div>
        </div>
            <div class="pb32 df aic pb24-576 boder-bottom-1-solid-white">
                <img class="footer-mail m8-20-8-4 m4-10-4-2-576" src="../assets/images/mail.png" alt="tell">
                <p class="white fs-36 fs-16-576">glasses@business.com</p>
            </div>


            <div class="df jcsb p32-0 p32-0-40-0-992 db-576 p16-0-24-0-576">
                <p class="white mb8-576">Copyright © 2020 Glasses.All rights reserved.</p>
            
                <ul class="df db-576">
                    <li class="white fs-14 fs-16-576 mb8-576">隱私權政策</li>
                    <li class="white fs-14 ml48 m0-576 fs-16-576">服務條款</li>
                </ul>
            </div>
    </div>
</div>