<div class="bgc-red">
    <div class="container">
        <div class="df aic fw-w jcsb db-576">
                <a href="../pages/index.html">
                    <img class="logo-img p12-0" src="../assets/images/logo-white.png" alt="logo">
                </a>
                <nav>
                    <ul class="df fw-w tac m0--12-576">
                        <li class="border-1-solid-white w-50-576 p10-0-576 pr22"><a class=" fs-20 fs-16-576 white p10" href="../pages/OPTICAL.html">系列鏡框</a></li>
                        <li class="border-1-solid-white w-50-576 p10-0-576 pr22 pl22"><a class=" fs-20 fs-16-576 white p10" href="../pages/store.html">門市據點</a></li>
                        <li class="border-1-solid-white w-50-576 p10-0-576 pr22 pl22"><a class=" fs-20 fs-16-576 white p10" href="../pages/blog.html">部落格</a></li>
                        <li class="border-1-solid-white w-50-576 p10-0-576 pl22"><a class=" fs-20 fs-16-576 white p10-0-10-10 p10-576" href="../pages/Q&A.html">常見問題</a></li>
                    </ul>
                </nav>
        </div>
    </div>
</div>