<div class="bgc-black-red">
    <div class="container">
    
        <div class="df jcsb aic">
            <nav>
                <ul class="df m0--24 m0--12-576">
                    <li class="p0-24 p0-12-576"><a class="db p12-0 white fs-20 fs-16-576" href="#">最新消息</a></li>
                    <li class="p0-24 p0-12-576"><a class="db p12-0 white fs-20 fs-16-576" href="#">特別企劃</a></li>
                    <li class="p0-24 p0-12-576"><a class="db p12-0 white fs-20 fs-16-576" href="#">新品上市</a></li>
                    <li class="p0-24 p0-12-576"><a class="db p12-0 white fs-20 fs-16-576" href="#">鏡框小知識</a></li>
                </ul>
            </nav>
            <img class="dn-576 img-nav" src="../assets/images/search.png" alt="search">
        </div>
    </div>
</div>