.bgc-red {
    background-color: $bgc-red;
}
.bgc-black-red{
    background-color: $black-red;
}
.bgc-pink {
    background-color: $bgc-pink;
}

.bgc-white {
    background-color: $bgc-white;
}
.bgc-black{
    background-color: black;
}
.white{
    color: $white;
}

.black-red {
    color:  $black-red;
}
.red{
    color: $bgc-red;
}

.grey{
    color: $grey;
}
.black{
    color: $black;
}
.page-color {
    color: #555555;
}