<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部落格</title>
</head>
<body>
        <%- include('./layout/header'); -%>
        <div class="dn-576">
            <%- include('./layout/nav'); -%>
        </div>

        <div class="container df">
            <div class="mt96 mb32 ml-4 border-left-8px mt80-992 mt40-576 mb24-576">
                <h1 class="pl16 fs-48 fs-24-576 bold">部落格</h1>
            </div>
        </div>

        <div class="container">

            <div class="df m0--12 db-576 mb60 mb24-992">
                <div class="box50-50-100 p0-12 img-page mb8-576">
                    <img src="../assets/images/blog-1.png" alt="pic">
                </div>
                <div class="box-w100 p0-12 df fdc jcsb">
                        <div>
                            <h2><a class="fs-32 black-red fs-24-576" href="../pages/valentine_special.html">情人特別企劃</a></h2>
                            <div class="df jcsb mb16 mb4-992 m0-576">
                                <h3 class="medium fs-20 fs-16-992">2020 Valentine’s Special</h3>
                                <time>2020/02/14</time>
                            </div>
                            <div class="dn-576">
                                <p class="page-color fs-20 fs-16-992 dn-992">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻，只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠⋯⋯</p>
                                <p class="dn page-color fs-20 fs-16-992 db-992">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻⋯⋯
                                    <a class="page-color fs-16-992" href="../pages/valentine_special.html">more</a></p>
                            </div>
                        </div>
                        <div class="df jcfe dn-992">
                            <a class="fs-36 bold black-red" href="../pages/valentine_special.html">MORE</a>
                        </div>
                </div>
            </div>

            <div class="df m0--12 db-576 mb60 mb24-992">
                <div class="box50-50-100 p0-12 img-page mb8-576">
                    <img src="../assets/images/blog-2.png" alt="pic">
                </div>
                <div class="box-w100 p0-12 df fdc jcsb">
                    <div>
                        <h2 class="fs-32 black-red fs-24-576">街頭潮人訪問</h2>
                        <div class="df jcsb mb16 mb4-992 m0-576">
                            <h3 class="medium fs-20 fs-16-992">Street Interview</h3>
                            <time>2020/02/02</time>
                        </div>
                        <div class="dn-576">
                            <p class="page-color fs-20 fs-16-992 dn-992">炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭 T 恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的 3
                            款單品，讓你瞬間帥氣爆棚散發型男品味⋯⋯</p>
                            <p class="dn page-color fs-20 fs-16-992 db-992">
                                炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭 T 恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的 3
                                款單品，讓你瞬間帥氣⋯⋯
                                <a class="page-color fs-16-992" href="#">more</a>
                            </p>
                        </div>
                    </div>
                    <div class="df jcfe dn-992">
                        <a class="fs-36 bold black-red" href="">MORE</a>
                    </div>
                </div>
            </div>

            <div class="df m0--12 db-576 mb60 mb24-992">
                <div class="box50-50-100 p0-12 img-page mb8-576">
                    <img src="../assets/images/blog-3.png" alt="pic">
                </div>
                <div class="box-w100 p0-12 df fdc jcsb">
                    <div>
                        <h2 class="fs-32 black-red fs-24-576">春季新品上市</h2>
                        <div class="df jcsb mb16 mb4-992 m0-576">
                            <h3 class="medium fs-20 fs-16-992">New Selection</h3>
                            <time>2020/02/02</time>
                        </div>
                        <div class="dn-576">
                            <p class="page-color fs-20 fs-16-992 dn-992">2020
                            年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯</p>
                            <p class="dn page-color fs-20 fs-16-992 db-992">
                                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻⋯⋯
                                <a class="page-color fs-16-992" href="#">more</a>
                            </p>
                        </div>
                    </div>
                    <div class="df jcfe dn-992">
                        <a class="fs-36 bold black-red" href="">MORE</a>
                    </div>
                </div>
            </div>

            <div class="df m0--12 db-576 mb60 mb24-992">
                <div class="box50-50-100 p0-12 img-page mb8-576">
                    <img src="../assets/images/blog-4.png" alt="pic">
                </div>
                <div class="box-w100 p0-12 df fdc jcsb">
                    <div>
                        <h2 class="fs-32 black-red fs-24-576">設計師獨享鏡框優惠</h2>
                        <div class="df jcsb mb16 mb4-992 m0-576">
                            <h3 class="medium fs-20 fs-16-992">Sales for Designer</h3>
                            <time>2020/01/18</time>
                        </div>
                        <div class="dn-576">
                            <p class="page-color fs-20 fs-16-992 dn-992">2020
                            年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯</p>
                            <p class="dn page-color fs-20 fs-16-992 db-992">
                                2020
                                年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，⋯⋯
                                <a class="page-color fs-16-992" href="#">more</a>
                            </p>
                        </div>
                    </div>
                    <div class="df jcfe dn-992">
                        <a class="fs-36 bold black-red" href="">MORE</a>
                    </div>
                </div>
            </div>

            <div class="df m0--12 db-576">
                <div class="box50-50-100 p0-12 img-page mb8-576">
                    <img src="../assets/images/blog-5.png" alt="pic">
                </div>
                <div class="box-w100 p0-12 df fdc jcsb">
                    <div>
                        <h2 class="fs-32 black-red fs-24-576">抵抗夏日大作戰</h2>
                        <div class="df jcsb mb16 mb4-992 m0-576">
                            <h3 class="medium fs-20 fs-16-992">Summer Special</h3>
                            <time>2019/08/07</time>
                        </div>
                        <div class="dn-576">
                            <p class="page-color fs-20 fs-16-992 dn-992">2020
                            年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯</p>
                            <p class="dn page-color fs-20 fs-16-992 db-992">
                            2020
                            年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，⋯⋯
                                <a class="page-color fs-16-992" href="#">more</a>
                            </p>
                        </div>
                    </div>
                    <div class="df jcfe dn-992">
                        <a class="fs-36 bold black-red" href="">MORE</a>
                    </div>
                </div>
            </div>
        
        <div class="container ">
    <div class="df jcc ">
        <ul class="df m136-0-92-0  m92-0-992 m76-0-576">
            <li><a class=" page-hover fs-19 page-color boder-1-solid-grey p12-12-11-12 " href="#">上一頁</a></li>
            <li><a class="page-hover fs-18 page-color boder-1-solid-grey p12 " href="#">1</a></li>
            <li><a class="page-hover fs-18 page-color boder-1-solid-grey p12 " href="#">2</a></li>
            <li><a class="page-hover fs-18 page-color boder-1-solid-grey p12 " href="#">3</a></li>
            <li><a class="page-hover fs-18 page-color boder-1-solid-grey p12 " href="#">4</a></li>
            <li><a class="page-hover fs-18 page-color boder-1-solid-grey p12 " href="#">5</a></li>
            <li><a class="page-hover fs-19 page-color boder-1-solid-grey p12-12-11-12 " href="#">下一頁</a></li>
        </ul>
    </div>
</div>
        <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
</body>
</html>