<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sunglasses</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <style>
            .bgi-sunglasses {
                background-image: url(../assets/images/product-header-3.png), url(../assets/images/product-header-4.png);

            }

            @media (max-width:992px) {
                .bgi-sunglasses {
                    background-image: url(../assets/images/product-header-sm-3.png), url(../assets/images/product-header-sm-4.png);
                }
            }
        </style>

        <div class="container">
            <div class="df">
                <a class="hover-bottom-red  box-w100 p24-0 tac boder-1-solid-grey medium black p24-10 fs-32  fs-24-992 fs-16-576"
                    href="../pages/OPTICAL.html">OPTICAL</a>
                <a class="hover-bottom-red  box-w100 p24-0 tac boder-1-solid-grey medium black p24-10 fs-32  fs-24-992 fs-16-576"
                    href="../pages/sunglasses.html">SUNGLASSES</a>
                <a class="hover-bottom-red  box-w100 p24-0 tac boder-1-solid-grey medium black p24-10 fs-32 fs-24-992 fs-16-576"
                    href="../pages/OPTICAL.html">FUNCTIONAL</a>
            </div>
        </div>

        <div class="bgi-sunglasses"></div>

        <div class="container">
            <div class="tac mt80 mt40-576">
                <h1 class="fs-42 fs-24-576">Celluloid Combi</h1>
                <h2 class="fs-32 fs-24-576">賽璐珞鈦金屬混合鏡框</h2>
            </div>
        </div>

        <div class="container">
            <div class="df fw-w m0--12 mt32 mt24-576">

                <div class="box33-50-100 p0-12">
                    <div class="mb80 mb40-992 mb24-576">
                        <img src="../assets/images/product-7.png" alt="product-1">
                        <div class="df jcsb">
                            <p class="fs-24">BJ41600S</p>
                            <p class="fs-24 black-red">NTD3,490</p>
                        </div>
                        <div class="df">
                            <a class="brown mr8 box-color" href="#"></a>
                            <a class="brown-100 box-color-2" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="box33-50-100 p0-12">
                    <div class="mb80 mb40-992 mb24-576">
                        <img src="../assets/images/product-8.png" alt="product-1">
                        <div class="df jcsb">
                            <p class="fs-24">BJ41600S</p>
                            <p class="fs-24 black-red">NTD3,490</p>
                        </div>
                        <div class="df">
                            <a class="brown mr8 box-color" href="#"></a>
                            <a class="brown-100 box-color-2" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="box33-50-100 p0-12">
                    <div class="mb80 mb40-992 mb24-576">
                        <img src="../assets/images/product-9.png" alt="product-1">
                        <div class="df jcsb">
                            <p class="fs-24">BJ41600S</p>
                            <p class="fs-24 black-red">NTD3,490</p>
                        </div>
                        <div class="df">
                            <a class="brown mr8 box-color" href="#"></a>
                            <a class="brown-100 box-color-2" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="box33-50-100 p0-12">
                    <div class=" mb40-992 mb24-576">
                        <img src="../assets/images/product-10.png" alt="product-1">
                        <div class="df jcsb">
                            <p class="fs-24">BJ41600S</p>
                            <p class="fs-24 black-red">NTD3,490</p>
                        </div>
                        <div class="df">
                            <a class="brown mr8 box-color" href="#"></a>
                            <a class="brown-100 box-color-2" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="box33-50-100 p0-12">
                    <div class=" mb40-992 mb24-576">
                        <img src="../assets/images/product-11.png" alt="product-1">
                        <div class="df jcsb">
                            <p class="fs-24">BJ41600S</p>
                            <p class="fs-24 black-red">NTD3,490</p>
                        </div>
                        <div class="df">
                            <a class="brown mr8 box-color" href="#"></a>
                            <a class="brown-100 box-color-2" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="box33-50-100 p0-12">
                    <div>
                        <img src="../assets/images/product-12.png" alt="product-1">
                        <div class="df jcsb">
                            <p class="fs-24">BJ41600S</p>
                            <p class="fs-24 black-red">NTD3,490</p>
                        </div>
                        <div class="df">
                            <a class="brown mr8 box-color" href="#"></a>
                            <a class="brown-100 box-color-2" href="#"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <%- include('./layout/page'); -%>
        <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
</body>

</html>