<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valentine’s Special</title>
</head>
<body>
        <%- include('./layout/header'); -%>
        <%- include('./layout/nav'); -%>

        <div class="container">
            <div class="mt24 mb8">
                <h3 class="mb8">首頁 / 部落格 / 特別企劃 / <span class="black-red">情人特別企劃</span></h3>
                <div class="df">
                    <h4 class="black-red fs-24 bold mr15">#special</h4>
                    <h4 class="black-red fs-24 bold">#event</h4>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="df m0--12">
                <div class="box66-75-100">
                    <div class="mb40 mb24-992 mb16-576 p0-12">
                        <h1 class="fs-48 fs-24-576">情人特別企劃</h1>
                        <h2 class="fs-24 fs-16-576 mb16 mb24-992 mb16-576">2020 Valentine’s Special</h2>
                        <img class=" mb8 mb16-992 mb8-576" src="../assets/images/blogpage-1.png" alt="blogpage-1">
                        <p class="page-color">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC
                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    </div>
                </div>
                <div class="p0-12">
                    <div class="df aic dn-576">
                        <img class="img-lable" src="../assets/images/label.png" alt="label">
                        <h2 class="red bold fs-32 fs-16-992">TAGS</h2>
                    </div>
                    <ul class="dn-576">
                        <div class="df mb4 m0-992">
                            <li class="mr24 mr16-992 red bold fs-24 fs-16-992">#special</li>
                            <li class="red bold fs-24 fs-16-992">#sale</li>
                        </div>
                        <div class="df mb4 db-992 m0-992">
                            <li class="mr24 m0-992 red bold fs-24 fs-16-992">#new_item</li>
                            <li class="red bold fs-24 fs-16-992">#interview</li>
                        </div>
                        <div class="df mb4 m0-992">
                            <li class="mr24 mr16-992 red bold fs-24 fs-16-992">#trivia</li>
                            <li class="red bold fs-24 fs-16-992">#trivia</li>
                        </div>
                            <li class="red bold fs-24 fs-16-992">#event</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="mb24 mb64-576">
                <div class="box66-75-100 mb40 mb24-992 mb16-576">
                    <h1 class="fs-48 fs-24-576">情人特別企劃</h1>
                    <h2 class="fs-24 fs-16-576 mb16 mb24-992 mb16-576">2020 Valentine’s Special</h2>
                    <img class=" mb8 mb16-992 mb8-576" src="../assets/images/blogpage-2.png" alt="blogpage-1">
                    <p class="page-color">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC
                    聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                </div>

                <div class="box66-75-100 mb40 mb24-992 mb16-576">
                    <h1 class="fs-48 fs-24-576">情人特別企劃</h1>
                    <h2 class="fs-24 fs-16-576 mb16 mb24-992 mb16-576">2020 Valentine’s Special</h2>
                    <img class=" mb8 mb16-992 mb8-576" src="../assets/images/blogpage-3.png" alt="blogpage-1">
                    <p class="page-color">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC
                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                </div>
                <div class="box66-75-100 mb40 m0-576">
                    <h1 class="fs-48 fs-24-576">情人特別企劃</h1>
                    <h2 class="fs-24 fs-16-576 mb16 mb24-992 mb16-576">2020 Valentine’s Special</h2>
                    <img class=" mb8 mb16-992 mb8-576" src="../assets/images/blogpage-4.png" alt="blogpage-1">
                    <p class="page-color">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC
                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                </div>

                <div class="boder-bottom-1-solid-grey box66-75-100 dn-576">
                    <div class="df aic mb16">
                        <span class="mr16">share</span>
                        <a href="#"><img class="mr16 img-fb-ig-logo" src="../assets/images/logo-facebook.png" alt="fb"></a>
                        <a href="#"><img class="mr16 img-fb-ig-logo" src="../assets/images/logo-instagram.png" alt="ig"></a>
                    </div>
                </div>  
            </div>
        </div>
        <div class="container">
            <div class="box66-75-100 mb80">
                <div class="df jcsb dn-576">
                    <div>
                        <a class="black df aic" href="#">
                            <img class="mr12 img-arrow" src="../assets/images/arrow_bac.png" alt="箭頭">
                            上一篇：街頭潮人訪問 1
                        </a>
                    </div>
                    <div>
                        <a class="black df aic" href="#">
                            下一篇：街頭潮人訪問 2
                            <img class="ml12 img-arrow" src="../assets/images/arrow_forward.png" alt="箭頭">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
</body>
</html>